html {
    scroll-behavior: smooth;
}

body,html {
    margin: 0;
    padding: 0;
    color: #585858;
}
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.44));
    display: grid;
    padding: 30px 0px;
    align-items: center;
    min-height: 100vh;
}

.bg-cover {
    background: url(./IMG_0427.JPG) no-repeat 0px 0px;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    align-items: center;
    text-align: center;
}

.container {
    align-items: center;
    text-align: center;
    position: relative;

}

.form-section {
    max-width: 501px;
    margin: 30px auto 20px;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0px 9px 24px 5px rgba(0, 0, 0, 0.04);
    background: #fff;
    font-size: 17px;
    line-height: 40px;
    color: #090909d3;
    text-align: end;
    margin-bottom: 5px;
    font-weight: 600;

}
.heading {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px;
    color: #090909;
}
.submit-button {
    
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 700px;
    padding: 0px 30px;
    text-transform: uppercase;
    border: none;
    background-color: #35497a;
    color: #fff;
    border-radius: 50px;
    margin-top: 15px;
}
